Node-Red/data to arduino.json
[{"id":"a7afea1f.12ae38","type":"tab","label":"Data to control board","disabled":false,"info":""},{"id":"b3c49864.2117b8","type":"link in","z":"a7afea1f.12ae38","name":"","links":["3bed063.63aa37a"],"x":195,"y":60,"wires":[["f5f565a1.4ea89","d232eb6b.5bd1"]]},{"id":"59619549.92448c","type":"serial out","z":"a7afea1f.12ae38","name":"","serial":"dfd713c7.90b1b8","x":410,"y":180,"wires":[]},{"id":"e0875acf.f5378","type":"debug","z":"a7afea1f.12ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":20,"wires":[]},{"id":"f5f565a1.4ea89","type":"debug","z":"a7afea1f.12ae38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":60,"wires":[]},{"id":"77ca7e08.da6f78","type":"serial in","z":"a7afea1f.12ae38","name":"","serial":"dfd713c7.90b1b8","x":70,"y":20,"wires":[["e0875acf.f5378"]]},{"id":"419f5bb5.f8820c","type":"json","z":"a7afea1f.12ae38","name":"","property":"payload","action":"","pretty":false,"x":290,"y":180,"wires":[["59619549.92448c"]]},{"id":"6b31c6d3.4514c8","type":"link in","z":"a7afea1f.12ae38","name":"","links":["e169112f.3af4a8"],"x":195,"y":100,"wires":[[]]},{"id":"d232eb6b.5bd1","type":"function","z":"a7afea1f.12ae38","name":"Selected data to Arduino","func":"data = {};\ndata.flags = msg.payload.Flags;\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["419f5bb5.f8820c"]]},{"id":"dfd713c7.90b1b8","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]