Node-Red/every journal message.json
[{"id":"ca9c3b39.12f6b8","type":"tab","label":"New things happen","disabled":false,"info":""},{"id":"7f822d74.407e24","type":"watch","z":"ca9c3b39.12f6b8","name":"Watch","files":"C:\\\\Users\\\\qwert\\\\Saved Games\\\\Frontier Developments\\\\Elite Dangerous","recursive":"","x":90,"y":200,"wires":[["9f062fe1.4d20b"]]},{"id":"9f062fe1.4d20b","type":"switch","z":"ca9c3b39.12f6b8","name":"","property":"file","propertyType":"msg","rules":[{"t":"eq","v":"Status.json","vt":"str"},{"t":"eq","v":"Market.json","vt":"str"},{"t":"eq","v":"ModulesInfo.json","vt":"str"},{"t":"eq","v":"Outfitting.json","vt":"str"},{"t":"eq","v":"Shipyard.json","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":210,"y":220,"wires":[["27bb0d1b.431c22"],["5767ae73.31e36"],["5767ae73.31e36"],["5767ae73.31e36"],["5767ae73.31e36"],["5767ae73.31e36"]]},{"id":"c96ddba7.c75d98","type":"json","z":"ca9c3b39.12f6b8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":200,"wires":[["d42a26d9.f74f18"]]},{"id":"77e7fd32.c51a24","type":"http request","z":"ca9c3b39.12f6b8","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"192.168.0.111:1880/edinpoint","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":120,"wires":[[]]},{"id":"aa6c2260.3e707","type":"debug","z":"ca9c3b39.12f6b8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":180,"wires":[]},{"id":"27bb0d1b.431c22","type":"file in","z":"ca9c3b39.12f6b8","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":350,"y":200,"wires":[["c96ddba7.c75d98"]]},{"id":"d42a26d9.f74f18","type":"function","z":"ca9c3b39.12f6b8","name":"Decode Flags","func":"flags = msg.payload.Flags;\n\nmsg.payload.Docked = flags & 1;\nflags = flags >> 1;\nmsg.payload.Landed = flags & 1;\nflags = flags >> 1;\nmsg.payload.LandingGearDown = flags & 1;\nflags = flags >> 1;\nmsg.payload.ShieldsUp = flags & 1;\nflags = flags >> 1;\nmsg.payload.Supercruise = flags & 1;\nflags = flags >> 1;\nmsg.payload.FlightAssistOff = flags & 1;\nflags = flags >> 1;\nmsg.payload.HardpointsDeployed = flags & 1;\nflags = flags >> 1;\nmsg.payload.InWing = flags & 1;\nflags = flags >> 1;\nmsg.payload.LightsOn = flags & 1;\nflags = flags >> 1;\nmsg.payload.CargoScoopDeployed = flags & 1;\nflags = flags >> 1;\nmsg.payload.SilentRunning = flags & 1;\nflags = flags >> 1;\nmsg.payload.ScoopingFuel = flags & 1;\nflags = flags >> 1;\nmsg.payload.SrvHandbrake = flags & 1;\nflags = flags >> 1;\nmsg.payload.SrvUsingTurretView = flags & 1;\nflags = flags >> 1;\nmsg.payload.SrvTurretRetracted = flags & 1;\nflags = flags >> 1;\nmsg.payload.SrvDriveAssist = flags & 1;\nflags = flags >> 1;\nmsg.payload.FsdMassLocked = flags & 1;\nflags = flags >> 1;\nmsg.payload.FsdCharging = flags & 1;\nflags = flags >> 1;\nmsg.payload.FsdCooldown = flags & 1;\nflags = flags >> 1;\nmsg.payload.LowFuel = flags & 1;\nflags = flags >> 1;\nmsg.payload.OverHeating = flags & 1;\nflags = flags >> 1;\nmsg.payload.HasLatLong = flags & 1;\nflags = flags >> 1;\nmsg.payload.IsInDanger = flags & 1;\nflags = flags >> 1;\nmsg.payload.BeingInterdicted = flags & 1;\nflags = flags >> 1;\nmsg.payload.InMainShip = flags & 1;\nflags = flags >> 1;\nmsg.payload.InFighter = flags & 1;\nflags = flags >> 1;\nmsg.payload.InSRV = flags & 1;\nflags = flags >> 1;\nmsg.payload.HudInAnalysisMode = flags & 1;\nflags = flags >> 1;\nmsg.payload.NightVision = flags & 1;\nflags = flags >> 1;\nmsg.payload.AltitudeFromAverageRadius = flags & 1;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["6fe98011.b0d8b","7ac09ffa.20078","e169112f.3af4a8"]]},{"id":"2afc427d.52c40e","type":"file in","z":"ca9c3b39.12f6b8","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":630,"y":80,"wires":[["3e5083ba.936ecc"]]},{"id":"3e5083ba.936ecc","type":"json","z":"ca9c3b39.12f6b8","name":"","property":"payload","action":"","pretty":false,"x":750,"y":80,"wires":[["74b94738.396498"]]},{"id":"3211a284.21982e","type":"dir2files","z":"ca9c3b39.12f6b8","name":"","dirname":"C:\\\\Users\\\\qwert\\\\Saved Games\\\\Frontier Developments\\\\Elite Dangerous","pathRegex":"Journal\\.","isRecursive":false,"findDir":false,"isArray":true,"x":280,"y":80,"wires":[["47365c3f.4c0cc4"]]},{"id":"47365c3f.4c0cc4","type":"function","z":"ca9c3b39.12f6b8","name":"Find Last Journal File","func":"msg.payload = msg.payload.slice(-1);\nmsg.filename = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":80,"wires":[["2afc427d.52c40e"]]},{"id":"807f3aef.8e9558","type":"inject","z":"ca9c3b39.12f6b8","name":"RunEvery10","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":80,"wires":[["3211a284.21982e"]]},{"id":"74b94738.396498","type":"function","z":"ca9c3b39.12f6b8","name":"Only New Messages","func":"lasttimestamp = context.get('lasttimestamp') || Date();\n//lasttimestamp = context.get('lasttimestamp') || \"2022-01-01T01:01:01Z\";\ncurrenttimestamp = msg.payload.timestamp;\n\nif(currenttimestamp > lasttimestamp){\n    context.set('lasttimestamp',currenttimestamp);\n    return msg;\n}","outputs":1,"noerr":0,"x":920,"y":80,"wires":[["7ac09ffa.20078"]]},{"id":"5767ae73.31e36","type":"file in","z":"ca9c3b39.12f6b8","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":350,"y":260,"wires":[["8c226a56.226a28"]]},{"id":"8c226a56.226a28","type":"json","z":"ca9c3b39.12f6b8","name":"","property":"payload","action":"","pretty":false,"x":650,"y":260,"wires":[["7ac09ffa.20078"]]},{"id":"6fe98011.b0d8b","type":"function","z":"ca9c3b39.12f6b8","name":"Stats to CommandDesk","func":"values = [\n    [\"Docked\", msg.payload.Docked, 1],\n    [\"Landed\", msg.payload.Landed, 2], \n    [\"LandingGearDown\", msg.payload.LandingGearDown, 3], \n    [\"ShieldsUp\", msg.payload.ShieldsUp, 4],\n    [\"Supercruise\", msg.payload.Supercruise, 5],\n    [\"FlightAssistOff\", msg.payload.FlightAssistOff, 6],\n    [\"HardpointsDeployed\", msg.payload.HardpointsDeployed, 7],\n    [\"LightsOn\", msg.payload.LightsOn, 8],\n    [\"CargoScoopDeployed\", msg.payload.CargoScoopDeployed, 9],\n    [\"SilentRunning\", msg.payload.SilentRunning, 10],\n    [\"ScoopingFuel\", msg.payload.ScoopingFuel, 11],\n    [\"FsdMassLocked\", msg.payload.FsdMassLocked, 12],\n    [\"FsdCharging\", msg.payload.FsdCharging, 13],\n    [\"FsdCooldown\", msg.payload.FsdCooldown, 14],\n    [\"LowFuel\", msg.payload.LowFuel, 15],\n    [\"OverHeating\", msg.payload.OverHeating, 16],\n    [\"BeingInterdicted\", msg.payload.BeingInterdicted, 17],\n    [\"HudInAnalysisMode\", msg.payload.HudInAnalysisMode, 18]\n    ];\n\nprev_controller_data = [];\n\nfor(i=0; i < values.length; i++){\n    prev_controller_data[i] = context.get(values[i][0]) || 0;\n}\n\nvar outputs = [];\n\nfor(i=0;values.length;i++){\n    if(prev_controller_data[i] != values[i][1]){\n        context.set(values[i][0], values[i][1]);\n        node.send({ payload: String.fromCharCode(91, 5, values[i][2], values[i][1], 93) });\n    }\n}","outputs":1,"noerr":0,"x":850,"y":320,"wires":[["ac77261c.a43ef8"]]},{"id":"ac77261c.a43ef8","type":"debug","z":"ca9c3b39.12f6b8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":280,"wires":[]},{"id":"40d36682.09f188","type":"comment","z":"ca9c3b39.12f6b8","name":"New Journal Event","info":"","x":130,"y":40,"wires":[]},{"id":"daf67b3e.ff4d2","type":"comment","z":"ca9c3b39.12f6b8","name":"New Status","info":"","x":110,"y":160,"wires":[]},{"id":"3bed063.63aa37a","type":"link out","z":"ca9c3b39.12f6b8","name":"everything","links":["94ab7c5e.1898c","b3c49864.2117b8","b63b4288.c34388"],"x":1515,"y":40,"wires":[]},{"id":"7ac09ffa.20078","type":"function","z":"ca9c3b39.12f6b8","name":"All Feeds Gathered","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":80,"wires":[["3bed063.63aa37a","77e7fd32.c51a24","aa6c2260.3e707"]]},{"id":"d61c2c56.d07d98","type":"catch","z":"ca9c3b39.12f6b8","name":"","scope":null,"uncaught":false,"x":80,"y":340,"wires":[[]]},{"id":"e169112f.3af4a8","type":"link out","z":"ca9c3b39.12f6b8","name":"Just the status","links":["6b31c6d3.4514c8"],"x":1515,"y":260,"wires":[]}]